*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 'cabecalho cabecalho' 'categorias categorias' 'assunto conteudo anuncios' 'rodape rodape';
}
.container div:nth-child(1){
    grid-area: cabecalho;
}
.container div:nth-child(2){
    grid-area: categorias;
}

.container div:nth-child(3){
    grid-area: assunto;
}

.container div:nth-child(4){
    grid-area: conteudo;
}

.container div:nth-child(5){
    grid-area: anuncios;
}
.container div:nth-child(6){
    grid-area: rodape;
}

.header{
    display: flex;
    align-items: center;
    height: 5.5rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    background: white;
}

.logo{
    width: 3.8rem;
    height: 3.6rem;
    margin-left: 1.8rem;
}

.menu-header{
    display: flex;
    margin-left: 2.7rem;
    gap: 1.2rem;
}

.text-menu{
    padding: 1rem;
    font-size: 1.5rem;
    font-family: Roboto;
}

.arrumar{
    display: flex;
}

.seta{
    margin-top: 0.6rem;
    margin-left: -1.4rem;
}

.search-container{
    position: relative;
    display: flex;
    padding: 1rem 0.8rem;
    width: 17.5rem;
}

.search{
    position: relative;
    display: block;
    margin-left: 0.8rem;
    width: 20rem;
}

.search-input{
    border: 0;
    padding: 0.5rem 4rem 0.5rem 1.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.25) !important;
    border-radius: 2.5rem;
    height: 3.8rem;
    width: 17.5rem;
}

.icone-search{
    position: absolute;
    right: -1.3rem;
    top: 1rem;
    padding: 0.8rem;
    text-align: center;
    width: 3.5rem;
}

.container-login{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin-right: 7rem;
}

.container-pesonalizacao{
    display: flex;
}

.menu-login{
    display: flex;
    position: relative;
    gap: 2.8rem;
    margin-right: 1.4rem;
}

.text-menu-login{
    padding: 1rem;
    margin-top: 0.1rem;
    font-size: 1.5rem;
    font-family: Roboto;
}

.container-botao{
    display: flex;
    position: relative;
}

.back-btn{
    background: #04aa6d;
    width: 9.3rem;
    height: 4rem;
    margin-right: -3rem;
    border-radius: 2.5rem;
    z-index: 99;
}

.back-btn2{
    background: #d9eee1;
    width: 10.3rem;
    height: 40px;
    margin-right: -3.9rem;
    border-radius: 2.5rem;
}

.btn-sign-up{
    position: relative;
    top: 30%;
    left: 23%;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-family: Roboto;
}

.btn-login{
    position: relative;
    top: 30%;
    left: 38%;
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
    font-family: Roboto;
}

.categorias{
    display: flex;
    height: 3.3rem;
    gap: 0 2rem;
    position: fixed;
    margin-top: 5.5rem;
    width: 100%;
    background: #282a35;
    z-index: 99;
}

.active-categorias{
    background: #04aa6d;
    color: white;
}

.btn-categorias{
    margin-left: 1.5rem;
    margin-top: 0.2rem;
    height: 3rem;
    width: auto;
    color: white;
    background: #282a35;
    border: 0;
    font-family: Roboto;
    font-size: 1.4rem;
}

.assunto{
    display: block;
    position: fixed;
    height: 100vh;
    width: 25rem;
    margin-top: 0.1rem;
    top: 9%;
    overflow-y: scroll;
    background: #e7e9eb;
}

.titulo-assunto{
    margin-left: 1.6rem;
    margin-top: 1.8rem;
    font-size: 2.1rem;
    font-family: roboto;
}

.text-assunto{
    margin-top: 1rem;
    margin-left: 3.6rem;
    font-size: 1.5rem;
    font-family: roboto;
    padding: 0.3rem;
    cursor: pointer;
}

.icone-assunto{
    position: absolute;
    font-size: 2.2rem;
    margin-top: -0.2rem;
    margin-left: -0.6rem;
    color: #d8dadc;
    background: #e7e9eb;
    left: 8%;
    z-index: 1;
    cursor: pointer;
}

.active{
    height: 2.5rem;
    background: #04aa6d;
    color: white; 
}

.conteudo{
    display: block;
    position: absolute;
    width: 68%;
    height: 300vh;
    margin-left: 250px;
    top: 10%;
    font-family: roboto;
    border-right: 1px solid #f1f1f1;   
}

.titulo{
    font-size: 4rem;
    font-weight: 400;
    margin-top: 2.7rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    font-family: "Segoe UI", Arial, sans-serif;
}

.botoes-home{
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}

.btn-home{
    display: flex;
    align-items: center;
    height: 4.5rem;
    width: 10rem;
    border-radius: 0.5rem;
    border: 0;
    background: #04aa6d;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
}

.btn-next{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    width: 10rem;
    border-radius: 0.5rem;
    border: 0;
    background: #04aa6d;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 3.6rem
}


.caixa1{
    background: #d9eee1;
    height: 25rem;
    margin-top: 2.5rem;
    padding-top: 4.3rem;
    font-size: 1.6rem;
    padding-left: 3rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.btn-caixa1{
    background: #04aa6d;
    color: white;
    border: 0;
    width: 28rem;
    height: 4.2rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa2{
    background: #e7e9eb;
    width: 98%;
    margin-left: 1%;
    border-radius: 5px;
    height: 47.5rem;
    margin-top: 3rem;
}

.subtitulo2{
    font-weight: 400;
    margin-top: 5.2rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: "Segoe UI", Arial, sans-serif;
}

.titulo-caixa2{
    position: relative;
    top: 5%;
    font-weight: 400;
    margin-left: 1.7rem;
    font-size: 2.4rem;
}

.back-code{
    margin-top: 4rem;
    margin-left: 2rem;
    background: white;
    height: 68%;
    width: 122rem;
    border-left: 0.4rem solid #04aa6d;
}

.code{
    padding: 0.4rem;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.btn-caixa2{
    background: #04aa6d;
    color: white;
    border: 0;
    width: 15rem;
    height: 4.2rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anuncios{
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0%;
    top: 14%;
    height: 100%;
    width: 350px;
}